<div>
  <h2 id="page-heading" data-cy="ClassificationHeading">
    <span jhiTranslate="britishLibraryDemoApp.classification.home.title">Classifications</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="britishLibraryDemoApp.classification.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-classification-bl-comp"
        [routerLink]="['/classification-bl-comp/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="britishLibraryDemoApp.classification.home.createLabel"> Create a new Classification </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="classifications?.length === 0">
    <span jhiTranslate="britishLibraryDemoApp.classification.home.notFound">No Classifications found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="classifications && classifications.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="deweyClassification">
            <div class="d-flex">
              <span jhiTranslate="britishLibraryDemoApp.classification.deweyClassification">Dewey Classification</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="blRecordId">
            <div class="d-flex">
              <span jhiTranslate="britishLibraryDemoApp.classification.blRecordId">Bl Record Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="typeOfResource">
            <div class="d-flex">
              <span jhiTranslate="britishLibraryDemoApp.classification.typeOfResource">Type Of Resource</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="contentType">
            <div class="d-flex">
              <span jhiTranslate="britishLibraryDemoApp.classification.contentType">Content Type</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="materialType">
            <div class="d-flex">
              <span jhiTranslate="britishLibraryDemoApp.classification.materialType">Material Type</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="bnbNumber">
            <div class="d-flex">
              <span jhiTranslate="britishLibraryDemoApp.classification.bnbNumber">Bnb Number</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="archivalResourceKey">
            <div class="d-flex">
              <span jhiTranslate="britishLibraryDemoApp.classification.archivalResourceKey">Archival Resource Key</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="isbn">
            <div class="d-flex">
              <span jhiTranslate="britishLibraryDemoApp.classification.isbn">Isbn</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="name">
            <div class="d-flex">
              <span jhiTranslate="britishLibraryDemoApp.classification.name">Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="datesAssociatedWithName">
            <div class="d-flex">
              <span jhiTranslate="britishLibraryDemoApp.classification.datesAssociatedWithName">Dates Associated With Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="typeOfName">
            <div class="d-flex">
              <span jhiTranslate="britishLibraryDemoApp.classification.typeOfName">Type Of Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="role">
            <div class="d-flex">
              <span jhiTranslate="britishLibraryDemoApp.classification.role">Role</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="allNames">
            <div class="d-flex">
              <span jhiTranslate="britishLibraryDemoApp.classification.allNames">All Names</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="title">
            <div class="d-flex">
              <span jhiTranslate="britishLibraryDemoApp.classification.title">Title</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="variantTitles">
            <div class="d-flex">
              <span jhiTranslate="britishLibraryDemoApp.classification.variantTitles">Variant Titles</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="seriesTitle">
            <div class="d-flex">
              <span jhiTranslate="britishLibraryDemoApp.classification.seriesTitle">Series Title</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="numberWithinSeries">
            <div class="d-flex">
              <span jhiTranslate="britishLibraryDemoApp.classification.numberWithinSeries">Number Within Series</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="countryOfPublication">
            <div class="d-flex">
              <span jhiTranslate="britishLibraryDemoApp.classification.countryOfPublication">Country Of Publication</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="placeOfPublication">
            <div class="d-flex">
              <span jhiTranslate="britishLibraryDemoApp.classification.placeOfPublication">Place Of Publication</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="publisher">
            <div class="d-flex">
              <span jhiTranslate="britishLibraryDemoApp.classification.publisher">Publisher</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dateOfPublication">
            <div class="d-flex">
              <span jhiTranslate="britishLibraryDemoApp.classification.dateOfPublication">Date Of Publication</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="edition">
            <div class="d-flex">
              <span jhiTranslate="britishLibraryDemoApp.classification.edition">Edition</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="physicalDescription">
            <div class="d-flex">
              <span jhiTranslate="britishLibraryDemoApp.classification.physicalDescription">Physical Description</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="blShelfmark">
            <div class="d-flex">
              <span jhiTranslate="britishLibraryDemoApp.classification.blShelfmark">Bl Shelfmark</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="topics">
            <div class="d-flex">
              <span jhiTranslate="britishLibraryDemoApp.classification.topics">Topics</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="genre">
            <div class="d-flex">
              <span jhiTranslate="britishLibraryDemoApp.classification.genre">Genre</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="languages">
            <div class="d-flex">
              <span jhiTranslate="britishLibraryDemoApp.classification.languages">Languages</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="notes">
            <div class="d-flex">
              <span jhiTranslate="britishLibraryDemoApp.classification.notes">Notes</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="provenance">
            <div class="d-flex">
              <span jhiTranslate="britishLibraryDemoApp.classification.provenance">Provenance</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let classification of classifications; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/classification-bl-comp', classification.id, 'view']">{{ classification.id }}</a>
          </td>
          <td>{{ classification.deweyClassification }}</td>
          <td>{{ classification.blRecordId }}</td>
          <td>{{ classification.typeOfResource }}</td>
          <td>{{ classification.contentType }}</td>
          <td>{{ classification.materialType }}</td>
          <td>{{ classification.bnbNumber }}</td>
          <td>{{ classification.archivalResourceKey }}</td>
          <td>{{ classification.isbn }}</td>
          <td>{{ classification.name }}</td>
          <td>{{ classification.datesAssociatedWithName }}</td>
          <td>{{ classification.typeOfName }}</td>
          <td>{{ classification.role }}</td>
          <td>{{ classification.allNames }}</td>
          <td>{{ classification.title }}</td>
          <td>{{ classification.variantTitles }}</td>
          <td>{{ classification.seriesTitle }}</td>
          <td>{{ classification.numberWithinSeries }}</td>
          <td>{{ classification.countryOfPublication }}</td>
          <td>{{ classification.placeOfPublication }}</td>
          <td>{{ classification.publisher }}</td>
          <td>{{ classification.dateOfPublication }}</td>
          <td>{{ classification.edition }}</td>
          <td>{{ classification.physicalDescription }}</td>
          <td>{{ classification.blShelfmark }}</td>
          <td>{{ classification.topics }}</td>
          <td>{{ classification.genre }}</td>
          <td>{{ classification.languages }}</td>
          <td>{{ classification.notes }}</td>
          <td>{{ classification.provenance }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/classification-bl-comp', classification.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/classification-bl-comp', classification.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(classification)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="classifications && classifications.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
